
.divContact{
    display: flexbox; 
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid gray;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
}

.imgDiv{
    flex-grow: 2;
    float: left;
}
.contactDiv{
    flex-grow: 3;
}
.moreDiv{
    flex-grow: 1;
    float: right;
    padding-left: 20px;
}
img{
    border: solid;
    border-radius: 4em; 
    margin-right: 40px;
}
#left{
    float: left;
}
button{
    border-radius: 2em;
    width:50px;
    height:50px;
    margin-left: 40px;
}
a{
    
    color: black;
}
.moreInfo{
    color: green;
    display: right;
    width:200px;
    height:100px;
}

