
div{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#layoutDiv{
    border-style: solid;
    width: 600px;
    height: 570px;
    overflow: auto;
    margin-top: 10px;
    /* text-align:justify; */
}